# 빌드 결과물
project/dist/

# 의존성
project/node_modules/
project/env/

# 스크립트 파일
project/build_transfer.sh

# 압축 파일
*.zip

# 데이터베이스 파일
*.sqlite3

# 시스템 파일
.DS_Store
Thumbs.db

# 로그 파일
*.log

.vscode/
cpp_codes/
python_scripts_backup/
HPOptimizer 메뉴얼.pdf
wandb_min_max_test.py
